/* ==UserStyle==
 * @name         Misc Layout Tweaks for Gmail
 * @namespace    http://github.com/exterrestris
 * @description  Assorted layout tweaks for Gmail
 * @version      0.3.2
 ==/UserStyle== */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("mail.google.com") {
  .age.apN {
    overflow-x: auto;
  }

  .age.apP {
    overflow-x: hidden;
  }

  .aps {
    background-color: #f0f0ff;
  }

  .xX {
    width: 13ex;
  }

  .Wg {
    padding-right: 8px;
    padding-top: 10px;
  }

  .a3s img {
    max-width: 100%;
    height: auto;
  }

  .a3s :not(table, tbody, tr, th, td) > table:not([width], [style*="width"]),
  .aHU :not(table, tbody, tr, th, td) > table[width]:not([align], [width$="%"]) {
    width: 100% !important;
  }

  .ao8 {
    padding-right: 0;
  }

  * {
    scrollbar-width: thin;
  }
}